RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

<FilesMatch "\.(svg|jpg|jpeg|png|gif|js|css|otf)$">
    Header set Cache-Control "max-age=31536000"
</FilesMatch>
